.reveal .inverse {
    background: #00779b;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    opacity: 0.8;
    /*display: inline-block;*/
}

.reveal .inversewhite {
    background: #ffffff;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    opacity: 0.8;
    /*display: inline-block;*/
}

.reveal .bluefg {
    color: #00779b;
}

.reveal .bluefg {
    color: #00779b;
}
.reveal .twokeyfactorscolor {
    color: #1b91ff;
}
.reveal .opaque {
    background: #112299;
    opacity: 0.8;
}

.reveal .opaque-grey {
    background: #3F3F3F;
    opacity: 0.8;
}
